.text-panel {
    display: grid;
    place-items: center;
    background-color: rgb(96, 238, 160);
    color: blue;
    border-radius: 2rem;
    border: 1px solid black;
    padding: 0.2rem;
    margin: 1rem;
    box-shadow: 1px 6px 20px 1px rgba(3, 3, 3, 0.651);
}



#btn-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.buttons {
    margin: 0.2rem;
}